# LangGraph
langgraph
langchain

# Database
psycopg[binary]
sqlalchemy

# Data
pandas
numpy

# Utilities
python-dotenv
pydantic
pydantic-settings

# Supabase
supabase

# pip install -r requirements.txt 시 패키지 설치